// init start
*{
    box-sizing: border-box;
    background: none;
    border: none;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: "Athiti";
    src: url('../fonts/Athiti-Regular.otf');
}
@font-face {
    font-family: "AthitiSemi";
    src: url('../fonts/Athiti-SemiBold.otf');
}
#navbar{
    position: fixed;
    background: white;
    z-index: 55;
    width: 100%;
    font-family: Athiti;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
    .container{
        display: flex;
        justify-content: space-between;
    }
    .logo-container{
        a{
            position: absolute;
            top: 0px;
            img{
                display: block;
                width: 130px;
            }
        }
    }
    .nav-ul{
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        li{
            color: #888;
            position: relative;
            .line{
                width: 0px;
                height: 2px;
                background: #0c51a0;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                transition: all .5s ease;
            }
        }
        li:after{
            content: "";
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 0;
            height: 2px;
            background: #0c51a0;
            width: 10px;
            opacity: 0;
            transition: all .3s ease;
        }
        li:hover:after{
            width: 100%;
            opacity: 1;
        }
        li:hover{
            .line{
                width: 100%;
            }
        }
        li.active{
            color: #0c51a0;
            a{
                color: #0c51a0;
            }
        }
        a{
            padding: 15px 0;
            display: block;
            color: #888;
            letter-spacing: 1px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 15px;
        }
        a:hover{
            color: #0c51a0;
        }
    }

}
.container{
    width: 1000px;
    margin: auto;
    position: relative;
    height: 100%;
}

.section-container{
    .img-container{
        background-repeat: no-repeat;
        background-position: 32% center;
        background-attachment: fixed;
        min-height: 70vh;
        background-size: 25vw;
    }
    .text-container{
        position: absolute;
        top: 50%;
        right: 16vw;
        color: white;
        font-family: Athiti;
        width: 290px;
    }
    .title{
        font-size: 44px;
        line-height: 45px;
        color: white;
        margin: 0;
    }
}
.shadow-top{

}
#idOne{
    background: #0c51a0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#093277+0,0c51a0+100 */
    background: #093277; /* Old browsers */
    background: -moz-linear-gradient(top, #093277 0%, #0c51a0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #093277 0%,#0c51a0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #093277 0%,#0c51a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#093277', endColorstr='#0c51a0',GradientType=0 ); /* IE6-9 */
    .img-container{
        background-image: url(../img/products/img-1.png);
    }
    .img-top{
        position: absolute;
        right: 20%;
        top: 15%;
        width: 200px;
    }
}
#idTwo{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e440b+0,de7611+100 */
    background: #8e440b; /* Old browsers */
    background: -moz-linear-gradient(top, #8e440b 0%, #de7611 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8e440b 0%,#de7611 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8e440b 0%,#de7611 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e440b', endColorstr='#de7611',GradientType=0 ); /* IE6-9 */
    .img-container{
        background-image: url(../img/products/img-2.png);
    }
    .img-top{
        position: absolute;
        right: 26%;
        top: 15%;
        width: 13vw;
    }
}
#idThree{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#619612+0,9ccd17+100 */
    background: #619612; /* Old browsers */
    background: -moz-linear-gradient(top, #619612 0%, #9ccd17 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #619612 0%,#9ccd17 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #619612 0%,#9ccd17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#619612', endColorstr='#9ccd17',GradientType=0 ); /* IE6-9 */
    .img-container{
        background-image: url(../img/products/img-3.png);
    }
    .img-top{
        position: absolute;
        right: 13%;
        top: 15%;
        width: 320px;
    }
}

.product-subtitle {
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: 1.3vw;
    padding: 100px 31vw 50px;
    font-family: Athiti;
    line-height: 2vw;
    background: #10427B;
}
#parentContainer{
    z-index: 5;
    margin-bottom: 7vh;
    background: white;
    background: #0c51a0;
    min-height: 93vh;
}
#parentContainer.white{
    background: white;
}
#footer{
    background: #10427B;
    padding: 2.5vh 0;
    font-family: Athiti;
    color: white;
    position: fixed;
    width: 100%;
    z-index: -5;
    bottom: 0;
    height: 7vh;
    font-size: 14px;
    .container{
        display: flex;
        justify-content: space-between;
    }
    .flex-module{
        display: flex;
        align-items: center;

        a{
            padding: 0 0px 0 10px;
            display: block;
            img{
                width: 20px;
                display: block;
            }
        }
    }
}

#indexSlide{
    padding-top: 54px;
    .slide-items{
        min-height: 100vh;
        background-position: center center;
        position: relative;
    }
    .border-button{
        font-size: 15px;
        background: #0c51a0;
        font-weight: normal;
        border-radius: 30px;
        display: block;
        margin-top: 10px;
        color: rgba(255,255,255,0.8);
        text-transform: uppercase;
        line-height: initial;
        text-shadow: none;
        width: 200px;
        margin: 20px auto;
        position: relative;
        top: 30px;
    }
    #bg1{
        background-image: url('../img/slide-bg.png');
        background-size: cover;
    }
    #bg2{
        background-image: url('../img/slide-bg.png');
        background-size: cover;
    }
    .absolute-center{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .5s ease .5s;
    }
    .absolute-center.active{
        opacity: 1;
        top: 50%;
    }
    .text{
        color: white;
        font-size: 80px;
        font-family: Athiti;
        font-weight: bold;
        width: 630px;
        text-align: center;
        text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        line-height: 80px;
    }

}

#bottomBanner{
    background-image: url(../img/bg.png);

    background-size: cover;
    .container{
        min-height: 35vw;
    }
    .left-text{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-family: Athiti;
        font-weight: bold;
        width: 280px;
        font-size: 35px;
        line-height: 35px;
    }
    .paragraph{
        font-size: 16px;
        font-weight: normal;
        line-height: 20px;
        padding-top: 10px;
    }
    .border-button{
        a{
            padding: 5px 35px;
        }
    }
}
.border-button{
    font-size: 15px;
    background: #0c51a0;
    font-weight: normal;
    border-radius: 30px;
    display: inline-block;
    margin-top: 10px;
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    line-height: initial;
    text-shadow: none;
    a{
        display: block;
        padding: 7px 30px;
    }
}

#aboutSlide{
    padding-top: 45px;
    .slide-items{
        min-height: 40vh;
        background-position: center center;
        position: relative;
    }
    #bg3{
        background-image: url('../img/bg2.png');
        background-size: cover;
    }
    #bg4{
        background-image: url('../img/bg2.png');
        background-size: cover;
    }
    .absolute-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .text{
        color: white;
        font-size: 40px;
        font-family: Athiti;
        font-weight: bold;
        width: 350px;
        text-align: center;
    }
}

.w70{
    width: 70%;
}
.w60{
    width: 60%;
}
.w50{
    width: 50%;
}
.w45{
    width: 45%;
}
.w55{
    width: 55%;
}
.w40{
    width: 40%;
}
.w30{
    width: 30%
}
.title{
    font-family: AthitiSemi;
    color: rgb(68, 68, 68);
    margin: 30px 0 20px;
}
.paragraph{
    font-family: Athiti;
    color: rgb(90, 90, 90);
    font-size: 14px;
}
#about1{
    .container{
        display: flex;
    }
    .title{
        color: #333;
        margin: 30px 0
    }
    img{
        display: block;
        margin: 30px auto;
    }
}

#visionMission{
    background: #0c51a0;
    position: relative;
    min-height: 40vh;
    display: flex;
    // background-image: url(../img/left-bg.png);
    background-repeat: no-repeat;
    // margin: 100px 0;
    color: white;
    font-family: Athiti;
    line-height: 18px;
    .divider{
        margin: 30px auto;
        border-bottom: 1px solid white;
        width: 50%;
    }
    .absolute-vertical{
        width: 55%;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .sub-title{
        font-size: 15px;
        margin-bottom: 5px;
    }
    .sub-caption{
        font-size: 13px;
    }
    .w50{
        width: 50%;
        text-align: center;
        position: relative;
        img{
            display: block;
            width: 100%;
        }
    }
}
.absolute-vertical{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#about2{
    .container{
        display: flex;
    }
    .title{
        color: #333;
        margin: 30px 0
    }
    .paragraph{
        margin-bottom: 100px;
    }
    img{
        display: block;
        margin: auto;
    }
    .w55{
        position: relative;
    }
}

#about3{
    .container{
        display: flex;
    }
    .title{
        margin-bottom: 10px;
    }
    .title{
        color: #0c51a0;
        font-size: 20px;
    }
    .paragraph{
        margin-bottom: 100px;
    }
    img{
        display: block;
        // margin: auto;
    }
    .w55{
        position: relative;
    }
}

#contactUs{
    padding: 50px 0;
    font-family: Athiti;
    background: white;
    min-height: 93vh;
    .section-title{
        background: #0c51a0;
        color: white;
        text-align: center;
        padding: 40px 0;
        margin-bottom: 60px;
        font-size: 20px;
        .caption{
            font-size: 14px;
            opacity: 0.8;
        }
    }
    .container{
        display: flex;
    }
    .w50{
        flex-wrap: wrap;
        padding: 10px;
        display: flex;
        .w50{
            padding: 0 0 15px;
            opacity: 0.8;
            line-height: 18px;
            font-size: 15px;
            a{
                display: block;
                width: 100%;
            }
        }
    }
    .map{
        height: 400px;
        background: #eee;
        width: 100%;
    }
    .form-group{
        position: relative;
        margin: 0px 0 15px;
    }
    .full-input{
        width: 100%;
        background: #eee;
        padding: 10px;
        height: 45px;
    }
    .abs-placeholder{
        position: absolute;
        left: 10px;
        top: 15px;
        opacity: 0.5;
        line-height: 15px;
    }
    .tall{
        height: 100px;
        resize: none;
    }
    form{
        width: 100%;
    }
    .rounded-btn{
        background: #0c51a0;
        color: white;
        padding: 10px;
        border-radius: 0px;
        width: 100%;
    }
}
.title-caption{
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 30px 0;
    font-family: Athiti;
    font-weight: bold;
    .caption{
        font-size: 14px;
        font-weight: lighter;
        width: 600px;
        margin: auto;
        opacity: 0.8;
    }
}
#baksoSection{
    padding-top: 54px;
    background: #0c51a0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#093277+0,0c51a0+100 */
    background: #093277; /* Old browsers */
    background: -moz-linear-gradient(top, #093277 0%, #0c51a0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #093277 0%,#0c51a0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #093277 0%,#0c51a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#093277', endColorstr='#0c51a0',GradientType=0 ); /* IE6-9 */
}

#sosisSection{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e440b+0,de7611+100 */
    background: #8e440b; /* Old browsers */
    background: -moz-linear-gradient(top, #8e440b 0%, #de7611 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8e440b 0%,#de7611 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8e440b 0%,#de7611 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e440b', endColorstr='#de7611',GradientType=0 ); /* IE6-9 */
}

#basisSection{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#619612+0,9ccd17+100 */
    background: #619612; /* Old browsers */
    background: -moz-linear-gradient(top, #619612 0%, #9ccd17 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #619612 0%,#9ccd17 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #619612 0%,#9ccd17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#619612', endColorstr='#9ccd17',GradientType=0 ); /* IE6-9 */
}
.joheight{
    opacity: 0;
}
.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
    padding-bottom: 40px;
}
.product-container:after{
    content: "";
    width: 30%;
}
.product-module{
    width: 30%;
    padding: 0 20px;
    color: white;
    font-family: Athiti;
    text-align: center;
    margin: 20px 0;
    position: relative;
    top: 30px;
    opacity: 0;
    cursor: pointer;
    img{
        min-height: 200px;
        max-height: 200px;
        display: block;
        margin: auto;
    }
    .product-caption{
        line-height: 20px;
        margin-top: 10px;
    }
}
.product-module.active{
    top: 0;
    opacity: 1;
}
#keunggulanEssemfood, #Intro{
    background: white;
}
#productDetail{
    // max-height: 90vh;
    padding: 21vh 0;
    font-family: Athiti;
    color: white;
    text-align: center;
    .product-name{
        font-size: 24px;
        text-transform: uppercase;
    }
    .paragraph{
        color: white;
        opacity: 0.87;
    }
    .container{
        display: flex
    }
    .summary{
        margin-top: 30px;
    }
    .desc-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 40px 0;
        padding: 0 50px;
        .flex-title{
            width: 100%;
            margin-bottom: 0px;
        }
        .w30{
            font-size: 35px;
            position: relative;
            text-align: left;
            font-weight: bold;
            padding: 0px 10px;
            .abs-top{
                position: absolute;
                top: 10px;
                font-size: 15px;
                right: 10px;
                font-weight: lighter;
            }
            .bottom{
                font-size: 15px;
                border-top: 1px solid white;
                font-weight: lighter;
            }
        }
    }
}
.product-slider{
    padding-right: 50px;
    img{
        outline: none;
        // width: 450px;
        margin: 0 -100px;
        transform: scale(0.4) translateY(0px);
        transition: all .5s ease;
        position: relative;
        cursor: pointer;
    }
    img.slick-current{
        transform: scale(1);
        z-index: 5;
        opacity: 1;
    }
}

.orange{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e440b+0,de7611+100 */
    background: #8e440b; /* Old browsers */
    background: -moz-linear-gradient(top, #8e440b 0%, #de7611 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8e440b 0%,#de7611 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8e440b 0%,#de7611 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e440b', endColorstr='#de7611',GradientType=0 ); /* IE6-9 */
}
.blue{
    background: #0c51a0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#093277+0,0c51a0+100 */
    background: #093277; /* Old browsers */
    background: -moz-linear-gradient(top, #093277 0%, #0c51a0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #093277 0%,#0c51a0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #093277 0%,#0c51a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#093277', endColorstr='#0c51a0',GradientType=0 ); /* IE6-9 */
}
.green{
    background: #619612; /* Old browsers */
    background: -moz-linear-gradient(top, #619612 0%, #9ccd17 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #619612 0%,#9ccd17 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #619612 0%,#9ccd17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#619612', endColorstr='#9ccd17',GradientType=0 ); /* IE6-9 */
}
#Intro{
    text-align: center;
    padding: 50px;
    .paragraph{
        padding: 30px 130px;
    }
}

#keunggulanEssemfood{
    font-family: Athiti;
    padding: 40px 0;
    .blue-title{
        text-align: center;
        padding: 0px 0;
        font-weight: bold;
        font-size: 18px;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
        .flex-module{
            width: 30%;
            text-align: center;
            padding: 20px 30px;
            align-items: baseline;
            height: 220px;
            img {
                height: 70px;
                margin-bottom: 10px;
            }
        }
    }
    .bold-subcaption{
        font-weight: bold;
        font-size: 14px;
    }
    .subcaption{
        font-size: 13px;
        line-height: 20px;
    }
}

#distribusiSection{
    display: flex;
    .w50{
        background: #cebd2b;
        position: relative;
    }
    img{
        width: 100%;
        display: block;
    }
    .abs-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }
    .title{
        font-size: 18px;
    }
    .paragraph{
        font-size: 14px;
        color: #111;
        margin-bottom: 30px;
    }
}

select{
    outline: none;
    cursor: pointer;
    height: 30px;
}
option{
    padding:5px 0;
}



.li-lang{
    height: 54px;
    position: relative;
    padding: 15px;
    align-items: center;
    cursor: pointer;
    display: none;
    .div-lang{
        display: none;
        position: absolute;
        background: white;
        padding: 20px 20px 10px;
        left: -5px;
    }
    a{
        padding: 0 !important;
    }
}
.li-lang:hover{
    .div-lang{
        display: block;
    }
}
.detail-nav-anchor {
    position: absolute;
    top: 35%;
    font-family: Athiti;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    transform: rotateZ(45deg);
    color: transparent;
}
#anchor-next{
    right: -45px;
    border-left: 0;
    border-bottom: 0;
}
#anchor-prev{
    left: -45px;
    border-top: 0;
    border-right: 0;
}
.product-gallery-container{
    padding: 0 20%;
    margin: 0px auto;
    .slick-track{
        margin: auto;
    }
}
.product-gallery-image{
    padding: 8px;
    cursor: pointer;
    img{
        width: 100%;
        display: block;
    }
}

.product-big-image{
    min-height: 400px;
}

.carapenyajian{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    img{
        display: block;
        margin: auto;
    }
    .carapenyajian-title{
        width: 100%;
    }
    .carapenyajian-module {
        width: 25%;
        text-align: center;
        margin: 30px 0 50px;
    }

}

#resepBanner{
    padding-top: 54px;
    text-align: center;
    font-family: "Athiti";
    line-height: 1.2;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3e9da+0,fffcf9+100 */
    background: rgb(243,233,218); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(243,233,218,1) 0%, rgba(255,252,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(243,233,218,1) 0%,rgba(255,252,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(243,233,218,1) 0%,rgba(255,252,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e9da', endColorstr='#fffcf9',GradientType=0 ); /* IE6-9 */
    .container{
        padding: 50px 0 100px;
    }
    .top{
        color: #c44c3f;
        font-size: 13px;
    }
    .middle{
        color: #43250d;
        font-size: 30px;
        font-family: "AthitiSemi";
    }
    .bottom{
        color: #000000;
        font-size: 15px;
    }
    .table{
        position: relative;
        background-image: url('../img/table.png');
        .food-container{
            min-height: 14vw;
            width: 1000px;
            margin: auto;
            position: relative;
        }
        img{
            display: block;
        }
        .food{
            position: absolute;
            opacity: 0;
            transform: translateY(-20px);
            transition: all .3s ease;
            // transform: scale(0.85)
        }
        .food.active{
            opacity: 1;
            transform: translateY(0);
        }
        #food1{
            left: -10%;
        }
        #food2{
            left: 18%;
            top: -15%;

        }
        #food3{
            left: 48%;
            top: 10%;
        }
        #food4{
            right: -10%;
            top: -18%;
        }
    }
}
#resepContainer{
    font-family: "Athiti";
    padding-top: 50px;
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 40px;
    }
    .container:after{
        content: "";
        display: block;
        width: 31%;
    }
    .resep-module{
        width: 31%;
        text-align: center;
        background: white;
        box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2);
        position: relative;
        margin-bottom: 60px;
        opacity: 0;
        transform: translateX(-10px);
        img{
            width: 100%;
            display: block;
        }
        .resep-link{
            background: #cebd2b;
            color: white;
            width: 70%;
            margin: auto;
            display: block;
            position: absolute;
            bottom: -35px;
            height: 44px;
            line-height: 44px;
            border-radius: 22px;
            left: 50%;
            transform: translateX(-50%);
            font-family: "AthitiSemi";
            opacity: 0;
            transition: all .3s ease;
        }
    }
    .resep-module.active{
        transform: translateX(0);
        opacity: 1;
    }
    .resep-module:hover{
        .resep-link{
            opacity: 1;
            bottom: -25px;
        }
        .resep-link:hover{
            background: #10427B;
        }
    }
    .resep-desc{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 35px;
        .resep-title{
            width: 100%;
            font-family: "AthitiSemi";
            color: #10427B;
            font-size: 18px;
        }
        .group{
            width: 90px;
            padding: 10px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                display: inline-block;
                width: auto;
                height: auto;
                margin-right: 5px;
            }
        }
    }
}

#resepDetailBanner{
    background-image: url(../img/banner.png);
    padding-top: 54px;
    background-repeat: no-repeat;
    background-position: center 54px;
    background-size: contain;
    font-family: 'Athiti';
    position: relative;
    .shadow{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+19,0.66+100 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(207,207,207,0) 19%, rgba(0,0,0,0.66) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(207,207,207,0) 19%,rgba(0,0,0,0.66) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(207,207,207,0) 19%,rgba(0,0,0,0.66) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a8000000',GradientType=0 ); /* IE6-9 */
    }
    .container{
        min-height: 22vw;
        position: relative;
        .flex{
            width: 100%;
            color: white;
            display: flex;
            justify-content: space-between;
            padding-top: 80px;
            position: absolute;
            bottom: 0;
            padding: 20px 0;
            left: 0;
            align-items: center;
        }
        .resep-title{
            font-family: 'AthitiSemi';
            font-size: 24px;
        }
        .back-btn{
            background: white;
            color: #10427B;
            padding: 8px 25px 8px 50px;
            border-radius: 20px;
            font-family: 'AthitiSemi';
        }
        .resep-detail{
            display: flex;
            .group{
                display: flex;
                align-items: center;
                margin-left: 30px;
                img{
                    filter: invert(1);
                    margin-right: 5px;
                }
            }
        }
    }
}

#resepDetailList{
    padding: 50px 0;
    .resep-parent{
        width: 70%;
        margin: auto;
        font-family: Athiti;
        margin-bottom: 30px;
        .title{
            font-family: 'AthitiSemi';
            font-size: 20px;
            color: #10427B;
        }
        .resep-list{
            font-family: 'AthitiSemi';
            opacity: 0.8;
            background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
            background-position: bottom;
            background-size: 7px 1px;
            background-repeat: repeat-x;
            padding: 8px;
            padding-right: 20%;
            margin-left: -8px;
            line-height: 1.4;
        }
    }
    .flex-parent{
        display: flex;
        .share-module{
            display: block;
            // width: 100px;
            // height: 35px;
            text-align: center;
            background: #eee;
            margin-right: 8px;
            border-radius: 3px;
            color: white;
            img{
                display: block;
            }
        }
        #shareFb{
            background: #395aa1;
        }
        #shareGm{
            background: #e04b37;
        }
        #shareWa{
            background: #71c16a;
        }
        #shareEmail{
            background: #6acdec;
        }
    }
}
