* {
  box-sizing: border-box;
  background: none;
  border: none;
  color: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: "Athiti";
  src: url("../fonts/Athiti-Regular.otf");
}

@font-face {
  font-family: "AthitiSemi";
  src: url("../fonts/Athiti-SemiBold.otf");
}

#navbar {
  position: fixed;
  background: white;
  z-index: 55;
  width: 100%;
  font-family: Athiti;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

#navbar .logo-container {
  z-index: 5;
}

#navbar .logo-container a {
  position: absolute;
  top: 0px;
}

#navbar .logo-container a img {
  display: block;
  width: 100px;
}

#navbar .nav-ul {
  display: none;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-between;
  position: absolute;
  background: white;
  top: 40px;
  left: 0;
  width: 100%;
  padding-top: 25px;
  border-top: 1px solid #eee;
}

#navbar .nav-ul li {
  width: 100%;
  border-bottom: 1px solid #eee;
}

#navbar .nav-ul a {
  padding: 10px 20px;
  display: block;
  color: #888;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}

#navbar .nav-ul a:hover {
  color: #0c51a0;
}

#navbar .nav-ul.active {
  display: flex;
}

.mobile-handle {
  height: 40px;
  width: 40px;
  float: right;
  padding: 10px 8px;
}

.mobile-handle .mobile-lines {
  border: 1px solid #333;
  margin: 4px 0;
  display: block;
  position: relative;
  top: 0;
  transition: all .3s ease;
}

.mobile-handle.active #line1 {
  transform: rotateZ(45deg);
  top: 6px;
}

.mobile-handle.active #line2 {
  opacity: 0;
}

.mobile-handle.active #line3 {
  transform: rotateZ(-225deg);
  top: -6px;
}

.container {
  width: 100vw;
  margin: auto;
  position: relative;
  height: 100%;
}

.section-container {
  position: relative;
}

.section-container .container {
  min-height: 450px;
  position: relative;
}

.section-container .img-container {
  height: 250px;
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -100px;
  top: 70px;
}

.section-container .text-container {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: Athiti;
  width: 85%;
}

.section-container .title {
  font-size: 44px;
  line-height: 45px;
  color: white;
}

#idOne {
  overflow-x: hidden;
  background: #0c51a0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#093277+0,0c51a0+100 */
  background: #093277;
  /* Old browsers */
  background: -moz-linear-gradient(top, #093277 0%, #0c51a0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #093277 0%, #0c51a0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #093277 0%, #0c51a0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#093277', endColorstr='#0c51a0',GradientType=0 );
  /* IE6-9 */
}

#idOne .img-container {
  background-image: url(../img/products/img-1.png);
}

#idOne .img-top {
  position: absolute;
  left: 65%;
  top: 5%;
  width: 35%;
}

#idTwo {
  overflow-x: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e440b+0,de7611+100 */
  background: #8e440b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8e440b 0%, #de7611 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8e440b 0%, #de7611 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8e440b 0%, #de7611 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e440b', endColorstr='#de7611',GradientType=0 );
  /* IE6-9 */
}

#idTwo .img-container {
  background-image: url(../img/products/img-2.png);
}

#idTwo .img-top {
  position: absolute;
  left: 55%;
  top: 5%;
  width: 60%;
}

#idThree {
  overflow-x: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#619612+0,9ccd17+100 */
  background: #619612;
  /* Old browsers */
  background: -moz-linear-gradient(top, #619612 0%, #9ccd17 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #619612 0%, #9ccd17 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #619612 0%, #9ccd17 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#619612', endColorstr='#9ccd17',GradientType=0 );
  /* IE6-9 */
}

#idThree .img-container {
  background-image: url(../img/products/img-3.png);
}

#idThree .img-top {
  position: absolute;
  left: 50%;
  top: 15%;
  width: 60%;
}

#parentContainer {
  z-index: 5;
  background: white;
}

#footer {
  background: #0c51a0;
  padding: 30px 0;
  font-family: Athiti;
  color: white;
  text-align: center;
}

#footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#footer .flex-module {
  width: 100%;
  line-height: 18px;
}

#footer .mobile-padding-top {
  padding-top: 10px;
}

#footer .mobile-padding-bot {
  padding-bottom: 10px;
}

#indexSlide .slide-items {
  min-height: 100vh;
  background-position: center center;
  position: relative;
}

#indexSlide #bg1 {
  background-image: url("../img/slide-bg.png");
  background-size: cover;
}

#indexSlide #bg2 {
  background-image: url("../img/slide-bg.png");
  background-size: cover;
}

#indexSlide .absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#indexSlide .text {
  color: white;
  font-size: 40px;
  font-family: Athiti;
  font-weight: bold;
  width: 350px;
  text-align: center;
}

#bottomBanner {
  background-image: url(../img/bg.png);
  background-size: 150vw;
  background-position: top right;
  background-repeat: no-repeat;
}

#bottomBanner .container {
  min-height: 480px;
}

#bottomBanner .left-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  font-family: Athiti;
  font-weight: bold;
  width: 280px;
  font-size: 32px;
  text-align: center;
  line-height: 35px;
  color: #333;
}

#bottomBanner .paragraph {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  padding-top: 10px;
}

#bottomBanner .border-button a {
  padding: 5px 35px;
}

.border-button {
  font-size: 15px;
  background: #0c51a0;
  font-weight: normal;
  border-radius: 30px;
  display: inline-block;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

.border-button a {
  display: block;
  padding: 7px 30px;
}

#aboutSlide {
  padding-top: 45px;
}

#aboutSlide .slide-items {
  min-height: 80vh;
  background-position: center center;
  position: relative;
}

#aboutSlide #bg3 {
  background-image: url("../img/bg2.png");
  background-size: cover;
}

#aboutSlide #bg4 {
  background-image: url("../img/bg2.png");
  background-size: cover;
}

#aboutSlide .absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#aboutSlide .text {
  color: white;
  font-size: 40px;
  font-family: Athiti;
  font-weight: bold;
  width: 350px;
  text-align: center;
}

.w70 {
  width: 100%;
}

.w60 {
  width: 100%;
}

.w50 {
  width: 100%;
}

.w45 {
  width: 100%;
}

.w55 {
  width: 100%;
}

.w40 {
  width: 100%;
}

.w30 {
  width: 100%;
}

.title {
  font-family: AthitiSemi;
  color: #444444;
  margin: 30px 0 20px;
}

.paragraph {
  font-family: Athiti;
  color: #5a5a5a;
  font-size: 14px;
}

.container {
  padding: 0 10px;
}

#about1 .container {
  display: flex;
  flex-wrap: wrap;
}

#about1 .title {
  color: black;
  margin-bottom: 0;
}

#about1 img {
  display: block;
  margin: auto;
}

#visionMission {
  background: #0c51a0;
  position: relative;
  min-height: 40vh;
  display: flex;
  flex-wrap: wrap;
  background-image: url(../img/left-bg.png);
  background-repeat: no-repeat;
  color: white;
  font-family: Athiti;
  line-height: 18px;
  padding: 35px 15px;
}

#visionMission .divider {
  margin: 20px auto;
  border-bottom: 1px solid white;
  width: 50%;
}

#visionMission .absolute-vertical {
  position: relative;
}

#visionMission .sub-title {
  font-size: 15px;
  margin-bottom: 5px;
}

#visionMission .sub-caption {
  font-size: 13px;
}

#visionMission .w50 {
  width: 100%;
  text-align: center;
  position: relative;
}

.absolute-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#about2 .container {
  display: flex;
  flex-wrap: wrap;
}

#about2 .title {
  margin-bottom: 0px;
  color: black;
  font-size: 24px;
}

#about2 .paragraph {
  margin-bottom: 100px;
}

#about2 img {
  display: block;
  margin: auto;
  max-width: 100%;
}

#about3 .container {
  display: flex;
  flex-wrap: wrap;
}

#about3 .title {
  margin-bottom: 0px;
  color: black;
  font-size: 24px;
}

#about3 .paragraph {
  margin-bottom: 100px;
}

#about3 img {
  display: block;
  margin: auto;
}

#about3 .w55 {
  position: relative;
}

#contactUs {
  font-family: Athiti;
}

#contactUs .section-title {
  background: #0c51a0;
  color: white;
  text-align: center;
  padding: 70px 0 30px;
  font-size: 20px;
}

#contactUs .section-title .caption {
  font-size: 14px;
  opacity: 0.8;
}

#contactUs .container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

#contactUs .w50 {
  flex-wrap: wrap;
  padding: 10px;
  display: flex;
}

#contactUs .w50 .w50 {
  padding: 0 0 15px;
  opacity: 0.8;
  line-height: 18px;
  font-size: 15px;
}

#contactUs .map {
  height: 400px;
  background: #eee;
  width: 100%;
}

#contactUs .form-group {
  position: relative;
  margin: 0px 0 15px;
}

#contactUs .full-input {
  width: 100%;
  background: #eee;
  padding: 10px;
  height: 45px;
}

#contactUs .abs-placeholder {
  position: absolute;
  left: 10px;
  top: 15px;
  opacity: 0.5;
  line-height: 15px;
}

#contactUs .tall {
  height: 100px;
  resize: none;
}

#contactUs form {
  width: 100%;
}

#contactUs .rounded-btn {
  background: #0c51a0;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.title-caption {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 30px 0;
  font-family: Athiti;
  font-weight: bold;
}

.title-caption .caption {
  font-size: 14px;
  font-weight: lighter;
  width: 100%;
  margin: auto;
  opacity: 0.8;
}

#baksoSection {
  padding-top: 54px;
  background: #0c51a0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#093277+0,0c51a0+100 */
  background: #093277;
  /* Old browsers */
  background: -moz-linear-gradient(top, #093277 0%, #0c51a0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #093277 0%, #0c51a0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #093277 0%, #0c51a0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#093277', endColorstr='#0c51a0',GradientType=0 );
  /* IE6-9 */
}

#sosisSection {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e440b+0,de7611+100 */
  background: #8e440b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8e440b 0%, #de7611 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8e440b 0%, #de7611 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8e440b 0%, #de7611 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e440b', endColorstr='#de7611',GradientType=0 );
  /* IE6-9 */
}

#basisSection {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#619612+0,9ccd17+100 */
  background: #619612;
  /* Old browsers */
  background: -moz-linear-gradient(top, #619612 0%, #9ccd17 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #619612 0%, #9ccd17 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #619612 0%, #9ccd17 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#619612', endColorstr='#9ccd17',GradientType=0 );
  /* IE6-9 */
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding-bottom: 40px;
}

.product-module {
  width: 50%;
  padding: 0 30px;
  color: white;
  font-family: Athiti;
  text-align: center;
  margin: 20px 0;
  cursor: pointer;
}

.product-module img {
  width: 90%;
  display: block;
  margin: auto;
}

.product-module .product-caption {
  line-height: 20px;
  margin-top: 10px;
}

#productDetail {
  min-height: 90vh;
  padding: 20% 0;
  font-family: Athiti;
  color: white;
  text-align: center;
}

#productDetail .product-name {
  font-size: 24px;
  text-transform: uppercase;
}

#productDetail img {
  width: 80%;
}

#productDetail .paragraph {
  color: white;
  opacity: 0.87;
}

#productDetail .container {
  display: flex;
  flex-wrap: wrap;
}

#productDetail .summary {
  margin-top: 30px;
}

#productDetail .desc-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;
}

#productDetail .desc-flex .flex-title {
  width: 100%;
  margin-bottom: 0px;
}

#productDetail .desc-flex .w30 {
  font-size: 35px;
  position: relative;
  text-align: left;
  width: 30%;
  font-weight: bold;
}

#productDetail .desc-flex .w30 .abs-top {
  position: absolute;
  top: 10px;
  font-size: 15px;
  right: 10px;
  font-weight: lighter;
}

#productDetail .desc-flex .w30 .bottom {
  font-size: 15px;
  border-top: 1px solid white;
  font-weight: lighter;
}

.orange {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e440b+0,de7611+100 */
  background: #8e440b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8e440b 0%, #de7611 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8e440b 0%, #de7611 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8e440b 0%, #de7611 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e440b', endColorstr='#de7611',GradientType=0 );
  /* IE6-9 */
}

.blue {
  background: #0c51a0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#093277+0,0c51a0+100 */
  background: #093277;
  /* Old browsers */
  background: -moz-linear-gradient(top, #093277 0%, #0c51a0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #093277 0%, #0c51a0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #093277 0%, #0c51a0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#093277', endColorstr='#0c51a0',GradientType=0 );
  /* IE6-9 */
}

.green {
  background: #619612;
  /* Old browsers */
  background: -moz-linear-gradient(top, #619612 0%, #9ccd17 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #619612 0%, #9ccd17 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #619612 0%, #9ccd17 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#619612', endColorstr='#9ccd17',GradientType=0 );
  /* IE6-9 */
}

#Intro {
  text-align: center;
}

#Intro img {
  width: 100%;
  display: block;
  padding: 10px;
}

#Intro .paragraph {
  padding: 10px 20px 30px;
}

#keunggulanEssemfood {
  font-family: Athiti;
}

#keunggulanEssemfood .blue-title {
  text-align: center;
  margin: 40px 0;
  font-weight: bold;
  font-size: 18px;
}

#keunggulanEssemfood .flex {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}

#keunggulanEssemfood .flex .flex-module {
  width: 50%;
  text-align: center;
  padding: 10px 15px;
  align-items: baseline;
}

#keunggulanEssemfood .bold-subcaption {
  font-weight: bold;
  font-size: 14px;
}

#keunggulanEssemfood .subcaption {
  font-size: 13px;
  line-height: 20px;
}

#distribusiSection {
  display: flex;
  flex-wrap: wrap;
}

#distribusiSection .w50 {
  width: 100%;
  background: #cebd2b;
  position: relative;
}

#distribusiSection img {
  width: 100%;
  display: block;
}

#distribusiSection .abs-center {
  padding: 10px;
}

#distribusiSection .title {
  font-size: 18px;
}

#distribusiSection .paragraph {
  font-size: 14px;
  color: #eee;
  margin-bottom: 30px;
}
