// init start
*{
    box-sizing: border-box;
    background: none;
    border: none;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: "Athiti";
    src: url('../fonts/Athiti-Regular.otf');
}
@font-face {
    font-family: "AthitiSemi";
    src: url('../fonts/Athiti-SemiBold.otf');
}
#navbar{
    position: fixed;
    background: white;
    z-index: 55;
    width: 100%;
    font-family: Athiti;
    .container{
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
    }
    .logo-container{
        z-index: 5;
        a{
            position: absolute;
            top: 0px;
            img{
                display: block;
                width: 100px;
            }
        }
    }
    .nav-ul{
        display: none;
        flex-wrap: wrap;
        width: 50%;
        justify-content: space-between;
        position: absolute;
        background: white;
        top: 40px;
        left: 0;
        width: 100%;
        padding-top: 25px;
        border-top: 1px solid #eee;
        li{
            width: 100%;
            border-bottom: 1px solid #eee;
        }
        .active-lang{
            color: #0c51a0;
        }
        li.li-lang{
            display: none;
            // padding: 10px 20px;
            // display: block;
            // color: #888;
            // letter-spacing: 1px;
            // font-weight: bold;
            // text-transform: uppercase;
            // font-size: 13px;
        }
        .div-lang-choosen{
            display: none;
        }
        .div-lang{
            display: flex;
            padding-left: 10px;
            a{
                padding: 10px;
            }
        }
        a{
            padding: 10px 20px;

            display: block;
            color: #888;
            letter-spacing: 1px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 13px;
        }
        a:hover{
            color: #0c51a0;
        }
    }
    .nav-ul.active{
        display: flex;
    }
    li.active{
        color: #0c51a0;
        a{
            color: #0c51a0;
        }
    }
}

.mobile-handle{
    height: 40px;
    width: 40px;
    float: right;
    padding: 10px 8px;
    .mobile-lines{
        border: 1px solid #333;
        margin: 4px 0;
        display: block;
        position: relative;
        top: 0;
        transition: all .3s ease;
    }
}
.mobile-handle.active{
    #line1{
        transform: rotateZ(45deg);
        top: 6px
    }
    #line2{
        opacity: 0;
    }
    #line3{
        transform: rotateZ(-225deg);
        top: -6px
    }
}
.container{
    width: 100vw;
    margin: auto;
    position: relative;
    height: 100%;
}
.product-subtitle{
    padding-top: 54px;
    padding: 80px 40px 30px;
    text-align: center;
    background: #10427B;
    color: white;
    font-family: Athiti;
}
.section-container{
    position: relative;
    .container{
        min-height: 450px;
        position: relative;
    }
    .img-container{
        height: 250px;
        width: 250px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 0px;
        top: 50px;
    }
    .text-container{
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-family: Athiti;
        width: 85%;
    }
    .title{
        font-size: 44px;
        line-height: 45px;
        color: white;
    }
}

#idOne{
    overflow-x: hidden;
    background: #0c51a0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#093277+0,0c51a0+100 */
    background: #093277; /* Old browsers */
    background: -moz-linear-gradient(top, #093277 0%, #0c51a0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #093277 0%,#0c51a0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #093277 0%,#0c51a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#093277', endColorstr='#0c51a0',GradientType=0 ); /* IE6-9 */
    .img-container{
        background-image: url(../img/products/img-1.png);
    }
    .img-top{
        left: 60%;
        top: 26%;
        z-index: 6;
        width: 33%;
        position: absolute;
    }
}
#idTwo{
    overflow-x: hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e440b+0,de7611+100 */
    background: #8e440b; /* Old browsers */
    background: -moz-linear-gradient(top, #8e440b 0%, #de7611 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8e440b 0%,#de7611 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8e440b 0%,#de7611 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e440b', endColorstr='#de7611',GradientType=0 ); /* IE6-9 */
    .img-container{
        background-image: url(../img/products/img-2.png);
    }
    .img-top{
        position: absolute;
        left: 53%;
        bottom: 43%;
        width: 40%;
        z-index: 6;
    }
}
#idThree{
    overflow-x: hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#619612+0,9ccd17+100 */
    background: #619612; /* Old browsers */
    background: -moz-linear-gradient(top, #619612 0%, #9ccd17 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #619612 0%,#9ccd17 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #619612 0%,#9ccd17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#619612', endColorstr='#9ccd17',GradientType=0 ); /* IE6-9 */
    .img-container{
        background-image: url(../img/products/img-3.png);
    }
    .img-top{
        position: absolute;
        left: 38%;
        top: 31%;
        width: 60%;
        z-index: 6;
    }
}


#parentContainer{
    z-index: 5;
    background: white;
}
#footer{
    background: #10427B;
    padding: 30px 0;
    font-family: Athiti;
    color: white;
    text-align: center;
    // height: 10vh;
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .flex-module{
        width: 100%;
        line-height: 18px;
    }
    .flex-module{
        display: flex;
        align-items: center;
        a{
            padding: 0 0px 0 10px;
            display: block;
            img{
                width: 20px;
                display: block;
            }
        }
    }
    .mobile-padding-top{
        padding-top: 10px;
    }
    .mobile-padding-bot{
        padding-bottom: 10px;
    }
}
#indexSlide{
    .slide-items{
        min-height: 100vh;
        background-position: center center;
        position: relative;
    }
    #bg1{
        background-image: url('../img/slide-bg.png');
        background-size: cover;
    }
    #bg2{
        background-image: url('../img/slide-bg.png');
        background-size: cover;
    }
    .absolute-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .text{
        color: white;
        font-size: 40px;
        font-family: Athiti;
        font-weight: bold;
        width: 350px;
        text-shadow: 4px 4px 6px rgba(0,0,0,0.5);
        text-align: center;
        line-height: 48px;

    }

}
#bottomBanner:after{
    content: "";
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#bottomBanner{
    background-image: url(../img/bg.png);
    background-size: 150vw;
    background-position: top right;
    background-repeat: no-repeat;
    position: relative;
    .container{
        min-height: 480px;
        z-index: 5;
    }
    .left-text{
        position: absolute;
        left: 50%;
        transform: translateX( -50%);
        top: 100px;
        font-family: Athiti;
        font-weight: bold;
        width: 280px;
        font-size: 32px;
        text-align: center;
        line-height: 35px;
        color: #eee;
    }
    .paragraph{
        font-size: 16px;
        font-weight: normal;
        line-height: 20px;
        padding-top: 10px;
        color: #eee;
    }
    .border-button{
        a{
            padding: 5px 35px;
        }
    }
}

.border-button{
    font-size: 15px;
    background: #0c51a0;
    font-weight: normal;
    border-radius: 30px;
    display: inline-block;
    margin-top: 10px;
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    line-height: initial;
    text-shadow: none;
    a{
        display: block;
        padding: 7px 30px;
    }
}


#aboutSlide{
    padding-top: 45px;
    .slide-items{
        min-height: 40vh;
        background-position: center center;
        position: relative;
    }
    #bg3{
        background-image: url('../img/bg2.png');
        background-size: cover;
    }
    #bg4{
        background-image: url('../img/bg2.png');
        background-size: cover;
    }
    .absolute-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .text{
        color: white;
        font-size: 40px;
        font-family: Athiti;
        font-weight: bold;
        width: 350px;
        text-align: center;
    }
}

.w70{
    width: 100%;
}
.w60{
    width: 100%;
}
.w50{
    width: 100%;
}
.w45{
    width: 100%;
}
.w55{
    width: 100%;
}
.w40{
    width: 100%;
}
.w30{
    width: 100%
}
.title{
    font-family: AthitiSemi;
    color: rgb(68, 68, 68);
    margin: 30px 0 20px;
}
.paragraph{
    font-family: Athiti;
    color: rgb(90, 90, 90);
    font-size: 14px;
}
.container{
    padding: 0 10px;
}
#about1{
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .title{
        color: black;
        margin-bottom: 0;
    }
    img{
        display: block;
        margin: auto;
    }
}

#visionMission{
    background: #0c51a0;
    position: relative;
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    color: white;
    font-family: Athiti;
    line-height: 18px;
    .divider{
        margin: 20px auto;
        border-bottom: 1px solid white;
        width: 50%;
    }
    .absolute-vertical{
        position: relative;
        // width: 55%;
        // text-align: center;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
    .sub-title{
        font-size: 15px;
        margin-bottom: 5px;
    }
    .sub-caption{
        font-size: 13px;
    }
    .w50{
        width: 100%;
        text-align: center;
        position: relative;
        min-height: 245px;
        overflow: hide;
        overflow: hidden;
        img{
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
        }
    }
}
// .absolute-vertical{
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
// }
// .absolute-vertical{
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
// }
#about2{
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .title{
        margin-bottom: 0px;
        color: black;
        font-size: 24px;
    }
    .paragraph{
        margin-bottom: 100px;
    }
    img{
        display: block;
        margin: auto;
        max-width: 100%;
    }
}

#about3{
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .title{
        margin-bottom: 0px;
        color: black;
        font-size: 24px;
    }
    .paragraph{
        margin-bottom: 100px;
    }
    img{
        display: block;
        margin: auto;
    }
    .w55{
        position: relative;
    }
}


#contactUs{
    // background: #0c51a0;
    // padding: 100px 0;
    font-family: Athiti;
    // color: white;
    .section-title{
        background: #0c51a0;
        color: white;
        text-align: center;
        padding: 70px 0 30px;
        // margin-bottom: 60px;
        font-size: 20px;
        .caption{
            font-size: 14px;
            opacity: 0.8;
        }
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    .w50{
        flex-wrap: wrap;
        padding: 10px;
        display: flex;
        .w50{
            padding: 0 0 15px;
            opacity: 0.8;
            line-height: 18px;
            font-size: 15px;
        }
    }
    .map{
        height: 400px;
        background: #eee;
        width: 100%;
    }
    .form-group{
        position: relative;
        margin: 0px 0 15px;
    }
    .full-input{
        width: 100%;
        background: #eee;
        padding: 10px;
        height: 45px;
    }
    .abs-placeholder{
        position: absolute;
        left: 10px;
        top: 15px;
        opacity: 0.5;
        line-height: 15px;
    }
    .tall{
        height: 100px;
        resize: none;
    }
    form{
        width: 100%;
    }
    .rounded-btn{
        background: #0c51a0;
        color: white;
        padding: 10px;
        border-radius: 10px;
    }
}
.title-caption{
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 30px 0;
    font-family: Athiti;
    font-weight: bold;
    display: none;
    .caption{
        font-size: 14px;
        font-weight: lighter;
        width: 100%;
        margin: auto;
        opacity: 0.8;
    }
}
#baksoSection{
    // padding-top: 54px;
    background: #0c51a0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#093277+0,0c51a0+100 */
    background: #093277; /* Old browsers */
    background: -moz-linear-gradient(top, #093277 0%, #0c51a0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #093277 0%,#0c51a0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #093277 0%,#0c51a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#093277', endColorstr='#0c51a0',GradientType=0 ); /* IE6-9 */
}

#sosisSection{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e440b+0,de7611+100 */
    background: #8e440b; /* Old browsers */
    background: -moz-linear-gradient(top, #8e440b 0%, #de7611 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8e440b 0%,#de7611 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8e440b 0%,#de7611 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e440b', endColorstr='#de7611',GradientType=0 ); /* IE6-9 */
}

#basisSection{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#619612+0,9ccd17+100 */
    background: #619612; /* Old browsers */
    background: -moz-linear-gradient(top, #619612 0%, #9ccd17 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #619612 0%,#9ccd17 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #619612 0%,#9ccd17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#619612', endColorstr='#9ccd17',GradientType=0 ); /* IE6-9 */
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding-bottom: 40px;
}
// .product-container:after{
//     content: "";
//     width: 50%;
// }
.product-module{
    width: 50%;
    padding: 0 30px;
    color: white;
    font-family: Athiti;
    text-align: center;
    margin: 20px 0;
    cursor: pointer;
    img{
        width: 90%;
        display: block;
        margin: auto;
    }
    .product-caption{
        line-height: 20px;
        margin-top: 10px;
    }
}

#productDetail{
    min-height: 90vh;
    padding: 20% 0;
    font-family: Athiti;
    color: white;
    text-align: center;
    .product-name{
        font-size: 24px;
        text-transform: uppercase;
    }
    img{
        width: 80%;
        margin: auto;
    }
    .paragraph{
        color: white;
        opacity: 0.87;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .summary{
        margin-top: 30px;
    }
    .desc-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 40px 0;
        // padding: 0 50px;
        .flex-title{
            width: 100%;
            margin-bottom: 0px;
        }
        .w30{
            font-size: 35px;
            position: relative;
            text-align: left;
            width: 30%;
            font-weight: bold;
            // padding: 0px 10px;
            .abs-top{
                position: absolute;
                top: 10px;
                font-size: 15px;
                right: 10px;
                font-weight: lighter;
            }
            .bottom{
                font-size: 15px;
                border-top: 1px solid white;
                font-weight: lighter;
            }
        }
    }
}

.orange{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e440b+0,de7611+100 */
    background: #8e440b; /* Old browsers */
    background: -moz-linear-gradient(top, #8e440b 0%, #de7611 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8e440b 0%,#de7611 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8e440b 0%,#de7611 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e440b', endColorstr='#de7611',GradientType=0 ); /* IE6-9 */
}
.blue{
    background: #0c51a0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#093277+0,0c51a0+100 */
    background: #093277; /* Old browsers */
    background: -moz-linear-gradient(top, #093277 0%, #0c51a0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #093277 0%,#0c51a0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #093277 0%,#0c51a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#093277', endColorstr='#0c51a0',GradientType=0 ); /* IE6-9 */
}
.green{
    background: #619612; /* Old browsers */
    background: -moz-linear-gradient(top, #619612 0%, #9ccd17 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #619612 0%,#9ccd17 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #619612 0%,#9ccd17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#619612', endColorstr='#9ccd17',GradientType=0 ); /* IE6-9 */
}

#Intro{
    text-align: center;
    // padding: 50px;
    img{
        width: 100%;
        display: block;
        padding: 10px;
    }
    .paragraph{
        // padding: 30px 130px;
        padding: 10px 20px 30px;
    }
}

#keunggulanEssemfood{
    font-family: Athiti;
    .blue-title{
        text-align: center;
        margin: 40px 0;
        font-weight: bold;
        font-size: 18px;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
        .flex-module{
            width: 50%;
            text-align: center;
            padding: 10px 15px;
            align-items: baseline;
            // height: 220px;
            img {
                height: 60px;
                margin-bottom: 10px;
            }
        }
    }
    .bold-subcaption{
        font-weight: bold;
        font-size: 14px;
    }
    .subcaption{
        font-size: 13px;
        line-height: 20px;
    }
}

#distribusiSection{
    display: flex;
    flex-wrap: wrap;
    .w50{
        width: 100%;
        background: #cebd2b;
        position: relative;
    }
    img{
        width: 100%;
        display: block;
    }
    .abs-center{
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // width: 80%;
        padding: 10px;
    }
    .title{
        font-size: 18px;
    }
    .paragraph{
        font-size: 14px;
        color: #111;
        margin-bottom: 30px;
    }

}

.detail-nav-anchor {
    position: absolute;
    top: 20%;
    font-family: Athiti;
    height: 25px;
    width: 25px;
    border: 1px solid white;
    transform: rotateZ(45deg);
    color: transparent;
}
#anchor-next{
    right: 15px;
    border-left: 0;
    border-bottom: 0;
}
#anchor-prev{
    left: 15px;
    border-top: 0;
    border-right: 0;
}
.product-gallery-container{
    // width: 80%;
    margin: 20px auto;
    .slick-track{
        margin: auto;
    }
}
.product-gallery-image{
    padding: 2px;
    cursor: pointer;
    img{
        width: 100%;
        display: block;
    }
}

.product-big-image{
    min-height: 300px;
}
.detail-nav-container{
    display: none;
}
